[Unit]
Description=zen-fan fan control service
RequiresMountsFor=/sys/class/hwmon

[Service]
ExecStart=/etc/systemd/system/zen-fan.service.d/zen-fan
Environment="TIMESTAMP=0"
WorkingDirectory=/etc
TimerSlackNSec=2000000000

[Install]
WantedBy=basic.target
